<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #map{
            height: 400px;
            width: 100%;
        }

    </style>
</head>
<body>
  
   <span>longitude</span>  <div id="lon"><%= sendcoords.longitude %></div>
    <span>latitude</span>  <div id="lat" ><%= sendcoords.latitude %></div>


    <h1>My Google Map</h1>
    <div id="map" > </div>
    <script> 
        // Problem starts

         function initMap() {
        
          // let latitude = document.getElementById('lon')
          // let longitude = document.getElementById('lat')
          let latitude = document.getElementById('lat')
          let longitude = document.getElementById('lon')
          let lati1 = Number(latitude.innerHTML)
          let long1 = Number(longitude.innerHTML)
          console.log(lati1)
          console.log(long1)
          console.log(typeof(lati1))
                var options = {  //Creates map options to add to the default map.
                    zoom:13,
                    center:{lat:lati1 ,lng:long1} 
                    // center:{lat:26.0647192 , lng:-98.3115816} 
                }
                var map = new google.maps.Map(document.getElementById('map'), options); //Creates the map and includes the options.
                
                
                
                //Listen for click on map
                google.maps.event.addListener(map, 'click', function(event){
                    addMarker({coords:event.latLng}); //Add marker
                });
                
                
                
                //Array of markers
            var markers = [
            {
                coords:{lat: 26.0710, lng:-98.3424 },
             iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            content:"<h1> Your location</h1> "

         },
    ]

    getcoords();
  async function getcoords(){
    const responce = await fetch('/api');
    const data2 = await responce.json();
    console.log(typeof(data2[0].lat))

    for (let index = 0; index <data2.length; index++) { 
      markers.push({coords:{lat: Number(data2[index].lat),lng: Number(data2[index].long),},content: `<h1> ${data2[index].name}</h1>`})

}

console.log(markers)
for(var i = 0;i < markers.length;i++) {
                    addMarker(markers[i]); //Add markers
                }
  }


                              
                //Loop through markers
                // for(var i = 0;i < markers.length;i++) {
                //     addMarker(markers[i]); //Add markers
                // }
            
                
                
                //Add Marker function
                function addMarker(props) { 
                        var marker = new google.maps.Marker({ 
                        position:props.coords,
                        map:map,
                        //icon:props.iconImage
                    });
                    
                    if(props.iconImage) {  //Check for custom icon
                       marker.setIcon(props.iconImage); //Set icon image
                    }
                    
                    if(props.content) { //Check content
                         var infoWindow = new google.maps.InfoWindow({
                            content:props.content
                        });
                
                        marker.addListener('click', function() {
                            infoWindow.open(map,marker);
                        }); 
                    } 
                }
            }
              
    </script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjxh6hCpAIjfRgk7fbb-fp7yy6-Fgd5p4&callback=initMap">
    </script>

    
    
<section data-position="quotes">
  <h2>Handymen that can get the job done</h2>

  
 <script>
  getData();
  async function getData(){
    const responce = await fetch('/api');
    const data = await responce.json();

    for (item of data){
      const root = document.createElement('div')
      const name = document.createElement('div')
      const phone = document.createElement('div')
      const location = document.createElement('div')
      name.textContent = `name: ${item.name}`;
      phone.textContent = `phone: ${item.Phone_number}`;
      location.textContent = `location: ${item.location}`;

      root.append(name,phone,location)
      document.body.append(root)

    }

    console.log(data)

  }
 </script>



  </ul> -->
   <ul class="quotes">
    <% for(var i = 0; i < quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>:
      <span><%= quotes[i].job %></span>
    </li>
    <% } %>
    
    
  </ul> 

</ul> 


 



 

</section>

    
    
</body>
</html>