<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!-- Google Web Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
  
      <!-- Font Awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  
      <!-- Libraries Stylesheet -->
      <link href="/librarymain.css" rel="stylesheet">
  
      <!-- Customized Bootstrap Stylesheet -->
      <link href="/stylemain.css" rel="stylesheet">

</head>
<body>
     <!-- Topbar Start -->
     <div class="container-fluid bg-dark">
      <div class="row py-2 px-lg-5">
          <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
              <div class="d-inline-flex align-items-center text-white">
                  <small><i class="fa fa-phone-alt mr-2"></i>+012 345 6789</small>
                  <small class="px-3">|</small>
                  <small><i class="fa fa-envelope mr-2"></i>info@example.com</small>
              </div>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
              <div class="d-inline-flex align-items-center">
                  <a class="text-white px-2" href="">
                      <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="text-white px-2" href="">
                      <i class="fab fa-twitter"></i>
                  </a>
                  <a class="text-white px-2" href="">
                      <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a class="text-white px-2" href="">
                      <i class="fab fa-instagram"></i>
                  </a>
                  <a class="text-white pl-2" href="">
                      <i class="fab fa-youtube"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <!-- Topbar End -->
  <!-- Navbar Start -->
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5 text-uppercase text-primary"><i class="fa fa-truck mr-2"></i>Faster</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="" class="nav-item nav-link">About</a>
                <a href="" class="nav-item nav-link">Service</a>
                <a href="" class="nav-item nav-link">Price</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="" class="dropdown-item">Blog Grid</a>
                        <a href="" class="dropdown-item">Blog Detail</a>
                    </div>
                </div>
                <a href="" class="nav-item nav-link">Contact</a>
            </div>
            <a href="/offerservice" class="btn btn-primary py-2 px-4 d-none d-lg-block">Offer your Services</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->

  

<style>
  #pac-input {
      background-color: #fff;
      padding: 0 11px 0 13px;
      width: 400px;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      text-overflow: ellipsis;
  }
  #pac-input:focus {
      border-color: #4d90fe;
      margin-left: -1px;
      padding-left: 14px;  /* Regular padding-left + 1. */
      width: 401px;
  }
  
  </style>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDjxh6hCpAIjfRgk7fbb-fp7yy6-Fgd5p4"></script> 
   <script>


    function initialize() {
          var address = (document.getElementById('pac-input'));
          var autocomplete = new google.maps.places.Autocomplete(address);
          autocomplete.setTypes(['geocode']);
          google.maps.event.addListener(autocomplete, 'place_changed', function() {
              var place = autocomplete.getPlace();
              if (!place.geometry) {
                  return;
              }
  
          var address = '';
          if (place.address_components) {
              address = [
                  (place.address_components[0] && place.address_components[0].short_name || ''),
                  (place.address_components[1] && place.address_components[1].short_name || ''),
                  (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
          }
          document.getElementById('lat').innerHTML = place.geometry.location.lat();
          document.getElementById('long').innerHTML = place.geometry.location.lng();
          });
    }
  
     google.maps.event.addDomListener(window, 'load', initialize);
    </script>




<!-- // document.getElementById('cum').addEventListener('click',sendData)
//     // function sendData(){
//     //   console.log("wtf")
//     //   // let latitude = document.getElementById('lat').innerHTML
//     //   // let longitude = document.getElementById('long').innerHTML

//     //   // const data = {latitude , longitude};
//     //   // const options = {
//     //   //   method: 'POST',
//     //   //   headers: {
//     //   //     "Content-Type": "application/json",
//     //   //   },
//     //   //   body: JSON.stringify(data)
//     //   // };
//     //   // fetch('/coords', options)
   
//     // }
//   
       -->
    
  

  <!-- lel -->

    <div class="jumbotron jumbotron-fluid mb-5">
        
        <div class="container text-center py-5">
            <h1 class="text-primary mb-4">Search for Professionals</h1>
            <h1 class="text-white display-3 mb-5">What do you need today?</h1>
            <!-- <div  class="mx-auto" style="width: 100%; max-width: 400px;" >
                 <div class="input-group" >
                    <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Type your zipcode or Address" >
                    <div class="input-group-append">
                        <button id="idk" class="btn btn-primary px-3">Track & Trace</button>
                    </div>
                </div>
                <div class="input-group" >
                    <input  type="text" class="form-control border-light" style="padding: 30px;" placeholder="Type your zipcode or Address">
                    
                </div> -->
               
             </div> 
             <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
           <input  placeholder="Input your budget" style="height: 70px; width: 300px; max-width: 300px;" type="text">
           <select id="drop" style="height: 70px; width: 300px; max-width: 300px;" >
                <option>All Services</option>
                <option>Handiwork</option>
                <option>Painting</option>
                <option>Decks</option>
                <option>Electrical</option>
                <option>Plumbing</option>
                <option>Plaster &amp; Drywall</option>
                <option>Flooring</option>
                <option>Kitchen Design</option>
                <option>Welding</option>
            </select>
           <a href="/search" ><button  id="button" style="height: 50px; width: 200px; max-width: 300px;"  class="btn btn-primary px-3">Search</button><a>
           <!-- <a href="http://localhost:8000/search"> <button  id="button" style="height: 50px; width: 200px; max-width: 300px;"  class="btn btn-primary px-3">Search</button></a> -->
        </div>
        <div id="lat"></div>
        <div id="long"></div>
    <!-- </div>    -->

    <!--  Quote Request Start -->
    <div class="container-fluid bg-secondary my-5">
      <div class="container" id="containn">
          <div class="row align-items-center">
              <div class="col-lg-7 py-5 py-lg-0" id="loll">
                  <h6 class="text-primary text-uppercase font-weight-bold">Post A Job</h6>
                  <h1 class="mb-4">Post a Job and have skilled professionals reach out to you!</h1>
                  <p class="mb-4">If you can't find what you are looking for post the details of your job your budget and skilled proffesionals that are willing to take the job will reach out to you</p>
                  <div class="row">
                      <div class="col-sm-4">
                          <h1 class="text-primary mb-2" data-toggle="counter-up">225</h1>
                          <h6 class="font-weight-bold mb-4">SKilled Experts</h6>
                      </div>
                      <div class="col-sm-4">
                          <h1 class="text-primary mb-2" data-toggle="counter-up">1050</h1>
                          <h6 class="font-weight-bold mb-4">Happy Clients</h6>
                      </div>
                      <div class="col-sm-4">
                          <h1 class="text-primary mb-2" data-toggle="counter-up">2500</h1>
                          <h6 class="font-weight-bold mb-4">Complete Projects</h6>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="bg-primary py-5 px-4 px-sm-5">
                      <form class="py-5">
                          <div class="form-group">
                              <input type="text" class="form-control border-0 p-4" placeholder="Your Name" required="required" />
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required" />
                          </div>
                          <div class="form-group">
                              <select class="custom-select border-0 px-4" style="height: 47px;">
                                  <option selected>Select A Service</option>
                                  <option value="1">Electrical</option>
                                  <option value="2">Welding</option>
                                  <option value="3">Plumbing</option>
                              </select>
                          </div>
                      </form>
                      <a href='postajob'><button class="btn btn-dark btn-block border-0 py-3">Post A Job</button></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Quote Request Start -->


  <!-- Services Start -->
  <div class="container-fluid pt-5">
      <div class="container">
          <div class="text-center pb-2">
              <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
              <h1 class="mb-4">Services Offered</h1>
          </div>
          <div class="row pb-3">
              <div class="col-lg-3 col-md-6 text-center mb-5">
                  <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                      <i class="fa fa-2x fa-plane text-dark pr-3"></i>
                      <h6 class="text-white font-weight-medium m-0">Plumbers</h6>
                  </div>
                  <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                  <a class="border-bottom text-decoration-none" href="">Read More</a>
              </div>
              <div class="col-lg-3 col-md-6 text-center mb-5">
                  <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                      <i class="fa fa-2x fa-ship text-dark pr-3"></i>
                      <h6 class="text-white font-weight-medium m-0">Electricians</h6>
                  </div>
                  <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                  <a class="border-bottom text-decoration-none" href="">Read More</a>
              </div>
              <div class="col-lg-3 col-md-6 text-center mb-5">
                  <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                      <i class="fa fa-2x fa-truck text-dark pr-3"></i>
                      <h6 class="text-white font-weight-medium m-0">Locksmiths</h6>
                  </div>
                  <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                  <a class="border-bottom text-decoration-none" href="">Read More</a>
              </div>
              <div class="col-lg-3 col-md-6 text-center mb-5">
                  <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                      <i class="fa fa-2x fa-store text-dark pr-3"></i>
                      <h6 class="text-white font-weight-medium m-0">Carpenters</h6>
                  </div>
                  <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                  <a class="border-bottom text-decoration-none" href="">Read More</a>
              </div>
          </div>
      </div>
  </div>

  <!-- Testimonial Start -->
  <div class="container-fluid py-5" id="lel" >
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6>
            <h1 class="mb-4">Our Clients Say</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <!-- <img class="img-fluid rounded-circle" src="img/testimonial-1.jpg" style="width: 60px; height: 60px;" alt=""> -->
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Mark</h6>
                        <small>- Needed an electrician</small>
                    </div>
                </div>
                <p class="m-0">The electrician was very professional and did a great job happy to have found him</p>
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <!-- <img class="img-fluid rounded-circle" src="img/testimonial-2.jpg" style="width: 60px; height: 60px;" alt=""> -->
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">John</h6>
                        <small>- Needed a locksmith</small>
                    </div>
                </div>
                <p class="m-0">The locksmith was very professional and did a great job happy to have found him</p>
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <!-- <img class="img-fluid rounded-circle" src="img/testimonial-3.jpg" style="width: 60px; height: 60px;" alt=""> -->
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Jeffey</h6>
                        <small>- Needed a plumber</small>
                    </div>
                </div>
                <p class="m-0">The plumber was very professional and did a great job happy to have found him</p>
            </div>
            <div class="position-relative bg-secondary p-4">
                <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                <div class="d-flex align-items-center mb-3">
                    <!-- <img class="img-fluid rounded-circle" src="img/testimonial-4.jpg" style="width: 60px; height: 60px;" alt=""> -->
                    <div class="ml-3">
                        <h6 class="font-weight-semi-bold m-0">Bill</h6>
                        <small>- Carpenter</small>
                    </div>
                </div>
                <p class="m-0">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr clita lorem. Dolor ipsum sanct clita</p>
            </div>
        </div>
    </div>
</div>


<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
  <div class="row pt-5">
      <div class="col-lg-7 col-md-6">
          <div class="row">
              <div class="col-md-6 mb-5">
                  <h3 class="text-primary mb-4">Get In Touch</h3>
                  <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                  <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                  <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                  <div class="d-flex justify-content-start mt-4">
                      <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </div>
              <div class="col-md-6 mb-5" >
                  <h3 class="text-primary mb-4">Quick Links</h3>
                  <div class="d-flex flex-column justify-content-start" id="idk2">
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pricing Plan</a>
                      <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Newsletter</h3>
          <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
          <div class="w-100">
              <div class="input-group">
                  <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                  <div class="input-group-append">
                      <button class="btn btn-primary px-4">Sign Up</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
  <div class="row">
      <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
          <p class="m-0 text-white">&copy; <a href="#">Your Site Name</a>. All Rights Reserved. 
  
  
          </p>
      </div>
      <div class="col-lg-6 text-center text-md-right">
          <ul class="nav d-inline-flex">
              <li class="nav-item">
                  <a class="nav-link text-white py-0" href="#">Privacy</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white py-0" href="#">Terms</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white py-0" href="#">FAQs</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white py-0" href="#">Help</a>
              </li>
          </ul>
      </div>
  </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<!-- Testimonial End -->

     <!-- <section data-position="quotes">
        <h2>Quotes</h2>
  
        <ul class="quotes">
          <% for(var i = 0; i < quotes.length; i++) {%>
          <li class="quote">
            <span><%= quotes[i].name %></span>:
            <span><%= quotes[i].job %></span>
          </li>
          <% } %>
        </ul>
      </section>
     -->
</body>
<script>
  document.getElementById('button').addEventListener('click',sendData)

function sendData (){
console.log('its working')
// function sendData(){
      let latitude = document.getElementById('lat').innerHTML
      let longitude = document.getElementById('long').innerHTML

      const data = {latitude , longitude};
      console.log(data)
      const options = {
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data)
      };
     fetch('/coords', options)
}
</script>
<script src="/plz.js"></script>
</html>